<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>

<body>
	<div>
		<h3 th:text="${year}" style="color: white;"></h3>
		<h4 th:text="${'Result: '+cont+' games'}" style="color: white;"></h4>
		<table class="table">
			<tbody>
				<tr th:each="game : ${games}">
					<td>
						<h5 th:text="${game.name}" style="color: white;"></h5>
						<p th:each="platform : ${game.platforms}"> <a th:text="${platform.name}"
								style="color: white;"></a>
						</p>
					</td>
					<td><a th:href="@{/showGame(id=${game.id})}"> <img th:src="${game.cover.url}" width="100%;">
						</a>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>